<div id="quick-action">
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-info btn-flat" type="button">
        <i class="fa fa-plus"></i>
      </button>
    </span>
  </div>
</div>